.topmostNavyBox {
	background-color: #344051;
	padding-bottom: 1em;
}
.topmostCyanBox {
	background-color: #118BC0;
	height: 4em;
}
.welcomeText {
	margin: 4em auto 0 auto;
	font-size: 3em;
}
.wordPressText {
	color: #fff;
	text-align: center;
}
.siteDescription {
	margin: 0 auto;
	font-size: 1.5em;
}
.blueButton {
	background-color: #1E8CBE;
	width: 18em;
	height: 4em;
	padding-top: 1em;
	margin: 2em auto;
	border: 1em solid #212934;
}
.tinyWhiteLine {
	height: 1.5em;
	width: 4em;
	margin: 15em auto 10em auto;
	background-color: #fff;
}
.whiteBox {
	background-color: #fff;
	width: 48em;
	height: 5em;
	margin: 2em auto;
}
.whiteBottomBox {
	background-color: #fff;
	width: 48em;
	height: 5em;
	margin: 2em auto 5em auto;
}
.bodyContent {
	background-color: #E8F0F5;
	padding-top: 15em;
	padding-bottom: 2em;
}
.contentBackground {
	background-color: #D1D3D7;
	padding: 0.5em 0;
}
.informationPanel {
	background-color: #fff;
	height: 20em;
	margin: 2.5em 1em;
}
.lowerBlueButton {
	background-color: #1E8CBE;
	width: 18em;
	height: 4em;
	padding-top: 1em;
	margin: 10em auto 0 auto;
}
