.topmostNavyBox {
	background-color: #344051;
	height: 40em;
}
.topmostCyanBox {
	background-color: #118BC0;
	height: 3em;
}
.welcomeText {

}
.siteDescription {

}
.buttonOutline {

}
.blueButton {

}
.tinyWhiteLine {

}
.whiteBox {

}